GitPython==0.3.2.RC1
Jinja2==2.7.2
M2Crypto==0.21.1
Mako==0.9.1
MarkupSafe==0.19
PyYAML==3.10
SOAPpy==0.12.0
argparse==1.2.1
async==0.6.1
chardet==2.2.1
dnspython==1.11.1
fpconst==0.7.2
freeipa==2.0.0.alpha.0
gitdb==0.5.4
ipapython==3.0.2
kerberos==1.1.1
lxml==3.3.2
meld3==0.6.10
msgpack-python==0.2.0
netaddr==0.7.10
pyOpenSSL==0.13.1
pycrypto==2.6.1
python-apt==0.9.3.2
python-debian==0.1.21-nmu2
python-debianbts==1.11
python-default-encoding==0.1
python-ldap==2.4.10
python-nss==0.12
pyzmq==13.1.0
reportbug==6.5.0
salt==2014.1.0
six==1.5.2
smmap==0.8.2
supervisor==3.0
virtualenv==1.11.4
wsgiref==0.1.2
